<h1>This is your ROI page</h1>
<%= form_for @roi, {url: '/rois/new', html:{method:'get'}} do |f| %>
 	<p>
 		<%= f.label "Money Spent" %>
 		<%= f.text_field :spent %>
 	</p>
 	<p>
 		<%= f.label "Total Retailers" %>
 		<%= f.text_field :retailers %>
 	</p>
 	<p>
 		<%= f.label "Total Purchase volume" %>
 		<%= f.text_field :purchase_volume %>
 	</p>
 	<p>
 		<%= f.label "Total Contribution Margin" %>
 		<%= f.text_field :contribution_margin %>
 	</p>
 	<p>
 		<%= f.label "Sales Increase" %>
 		<%= f.text_field :sales_increase %>
 	</p>

 	<p>
 		<%= f.label "Total Leads" %>
 		<%= f.text_field :leads %>
 	</p>
 	<p>
 		<%= f.label "Money Spent" %>
 		<%= f.text_field :leads_value %>
 	</p>
<%= f.submit "Calc" %>
<%end %>

	<% if @renderpartial %>
	<%=  render "/partials/roiresults" %>
	<% end %>
